@property --color-border1 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
  }
@property --color-border2 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
  }
@property --color-border3 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
  }
@property --color-border4 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
  }
@property --color-border5 {
    syntax: '<color>';
    initial-value: transparent;
    inherits: false;
  }

:root {
  /* Border Colors */
  /* --color-border1: #a8bee7;
  --color-border2: #b9ccef;
  --color-border3: #c7d4ed;
  --color-border4: #dbe2ee;
  --color-border5: #eff1f5; */
  /* Backgrounds */
  --color-bg: #ffffff;
  --color-surface: #f8f9fa;
  --color-card: #f1f3f5;
  --color-hover: #8ca7da;

  /* Text */
  --color-text: #212529;
  --color-text-muted: #6c757d;
  --color-heading: #111;

  /* Primary Colors */
  --color-primary: #0d6efd;
  --color-primary-hover: #0b5ed7;
  --color-primary-contrast: #ffffff;

  /* Secondary/Accent Colors */
  --color-secondary: #6c757d;
  --color-accent: #6610f2;

  /* Buttons */
  --button-bg: var(--color-primary);
  --button-bg-hover: var(--color-primary-hover);
  --button-text: var(--color-primary-contrast);

  /* Links */
  --link-color: #0d6efd;
  --link-hover: #0a58ca;

  /* Borders & Dividers */
  --color-border: #dee2e6a9;

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 4px 6px rgba(0, 0, 0, 0.1);
  --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.dark {
  --color-bg: #121212;
  --color-surface: #1e1e1e;
  --color-card: #2a2a2a;
  --color-hover: #143470;

  --color-text: #f1f1f1;
  --color-text-muted: #a0a0a0;
  --color-heading: #ffffff;

  --color-primary: #4dabf7;
  --color-primary-hover: #339af0;
  --color-primary-contrast: #000000;

  --color-secondary: #adb5bd;
  --color-accent: #be4bdb;

  --button-bg: var(--color-primary);
  --button-bg-hover: var(--color-primary-hover);
  --button-text: var(--color-primary-contrast);

  --link-color: #4dabf7;
  --link-hover: #339af0;

  --color-border: #343a40;

  --shadow-sm: 0 1px 2px rgba(255, 255, 255, 0.05);
  --shadow-md: 0 4px 6px rgba(255, 255, 255, 0.1);
  --shadow-lg: 0 10px 20px rgba(255, 255, 255, 0.15);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-bg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Angles */
@property --border-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

/* Animations */
@keyframes border-rotation {
  to {
    --border-angle: 360deg;
  }
}